@tailwind base;
@tailwind components;
@tailwind utilities;

.product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}     

.product-item { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-item-name {
    font-size: 1.2rem;
    font-weight: bold;
}


.product-item-description {
    font-size: 1rem;
}

.product-item-category {
    font-size: 0.8rem;
} 
.product-item-button {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.product-item-input {
    padding: 5px 10px;
    border-radius: 5px;
}
.product-list-title {
    font-size: 2rem;
    font-weight: bold;
}

.product-list-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}